
.dark-primary-color    { background: #7B1FA2; }
.default-primary-color {
  background: #E0E0E0;

}
.light-primary-color   {
  background: #E1BEE7;
  font-weight: bold;
  font-size: 20px;
  height: 25px;
  line-height: 50px;
  padding-left: 10px;
}
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #7C4DFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
